.react-datepicker__day--keyboard-selected,
.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected:hover,
.react-datepicker__day--selected:hover {
  background-color: lightcoral;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.react-datepicker__header {
  position: relative;
  background-color: #fff;
}
.react-datepicker__triangle {
  display: none;
}
select {
  border: none;
}
.year {
  margin-right: 5px;
}
button {
  cursor: pointer;
  position: absolute;
  left: 10%;
  background: none;
  border: none;
}
button.next {
  left: 80%;
}

.postmodal {
  background: rgba(0, 0, 0, 0.25);
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.daum_popup {
  position: fixed;
  width: 500px;
  height: 500px;
}
